
.App {
  background-color: white;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  /* border: 3px solid yellow; */
}

h1 {
  font-family: Helvetica;
  margin: 0;
}


@import "Landing.css";
@import "Navigation.css";
@import "ProfileCard.css";
@import "SearchStocks.css";
@import "UserAccount.css";
@import "UserDashboard.css";
