#nav-header {
  color: white;
  text-align: center;
}

#navbar-show {
  grid-area: 1 / 1 / 5 / 2;
  background-color: royalblue;
}

#navbar-hide {
  grid-area: 1 / 1 / 2 / 6;
  height: 60%;
  color: white;
  background-color: royalblue;
}

#hide-menu {
  margin-top: 2.5%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

#hide-header {
  grid-area: 1 / 2 / 2 / 3;
  /* border: 2px solid yellow; */
  margin: 0;
}

#login-btns {
  grid-area: 1 / 4 / 1 / 5;
  padding: 0.3em;
  /* border: 2px solid yellow; */
}

.login-btn {
  float: right;
  color: white;
  font-family: Sarala;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 0;
  outline: none;
  border: 2px solid white;
  border-radius: 22px;
  background-color: transparent;
}

.login-btn:hover {
  background-color: white;
  color: royalblue;
}

#hide-create {
  margin-right: 0.5em;
}
