.profile-card {
  background: lightgrey;
  margin-top: 30px;
  padding: 15px;
  -webkit-box-shadow: 0px 3px 15leapx 0px rgba(0,0,0,0.20);
}

#close-profile {
  background: transparent;
  float: right;
  border: 2px solid black;
  font-family: helvetica;
  border-radius: 18px;
  outline: none;
  width: 120px;
  height: 40px;
  font-size: 14px;
  margin-top: 20px;
}

#close-profile:hover {
  background: darkblue;
  border: royalblue;
  color: white;
}
