/* search input, search through all stocks */

#search {
  position: absolute;
  margin-left: 50%;
  width: 50%;
  height: 100%;
  color: black;
  background: goldenrod;
}

#search-input {
  outline: none;
  position: relative;
  margin-top: 2.5%;
  background: transparent;
  height: 35px;
  width: 45%;;
  color: grey;
  margin-left: 2%;
  margin-right: 2%;
  font-size: 30px;
  color: white;
  border:none;
}

#stock-list {
  position: absolute;
  width: 40%;
  height: 80%;
  margin-left: 52%;
  overflow-y: scroll;
  margin-top: 4%;
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
}

#search-input::placeholder {
  color: white;
}

.select-input {
  position: relative;
  margin-right: 15px;
  outline: transparent;
  background-color: transparent;
  width: 10%;
  height: auto;
  font-size: 15px;
  color: black;
  font-family: 'Sarala', sans-serif;
  border: none;
}
