.user-container {
  grid-area: 1 / 2 / 4 / 6;
  max-width: 900px;
  min-width: 500px;
  margin: 1em;
  padding: 0px 50px 0px 50px;
}

#hide-btns {
  grid-area: 1 / 4 / 1 / 5;
  /* border: 2px solid yellow; */
  padding: 0.3em;
}

#hide-create {
  margin-right: 0.5em;
}


.login-container {
  text-align: left;
  position: absolute;
  background: white;
  font-size: 18px;
  font-family: Helvetica;
  width: 100%;
}

#close-login {
  text-align: center;
  font-size: 48px;
  font-family: Helvetica;
  font-weight: 800;
  color: royalblue;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.login-form {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 600px;
  /* border: 3px solid yellow; */
}


.login-input {
  margin: 0 auto;
  border: 1px solid grey;
  outline: none;
  margin-top: 5px;
  border-radius: 5px;
  font-size: 18px;
  width: 200px;
}

#create-login-form {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}

.form-button {
  color: white;
  background-color: royalblue;
  font-family: Helvetica;
  font-size: 18px;
  font-weight: 700;
  padding: 7px;
  margin-top: 25px;
  outline: none;
  border: 2px solid white;
  border-radius: 30px;
  width: 100px;
  background-color: royalblue;
}

.form-button:hover {
  background-color: darkblue;
}

#signup {
  font-size: 14px;
  text-align: center;
  margin-top: 50px;
}
