
/* search bar input, search through all stocks */
#search-input {
  outline:none;
  height: 30px;
  width: 200px;
  font-size: 18px;
  border:none;
}

/* class for all sorting select(!!!change so filter and sort are different) */
.select-input {
  outline:none;
  height: 30px;
  width: 200px;
  font-size: 15px;
  border:none;
}

#stock-list {
  border: 0.5px solid grey;
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
}
