#login-background {
  position: absolute;;
  top: 0;
  background: transparent;
  filter: blur(20px);
  width: 100%;
  height: 100%;
}

#app-header {
  position: relative;
  height: 85px;
  width: 100%;
  color: white;
  background: #ff6a00;
  margin-top: 5%;
  padding-left: 2%;
}

#login-button {
  position: absolute;
  width: 200px;
  height: auto;
  margin-left: 77%;
  margin-top: -3%;
  border:1px solid #0095ff;
  border-radius: 12px;
  outline: none;
  background: transparent;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  transition-duration: 0.4s;
}

#login-button:hover {
  background-color: #0095ff;
  color: white;
}

#login-container {
  position: absolute;
  background: white;
  z-index: 5000;
  margin: auto;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1%;
  border: 2px solid #0095ff;
  font-family: poppins;
}

#close-login {
  position: relative;
  background: transparent;
  color: #ff6a00;
  border:2px solid #ff6a00;
  outline: none;
  padding: 4px 8px;
  text-align: center;
  margin-left: 20%;
  margin-top: 2%;
  text-decoration: none;
  font-size: 14px;
  transition-duration: 0.4s;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

#close-login:hover {
  background-color: #ff6a00;
  color: white;
}

.form-button {
  position: relative;
  margin-left: 5%;
  margin-top: 2%;
  margin-bottom: 4%;
  width: 15%;
  border:1px solid #0095ff;
  color: #0095ff;
  background: transparent;
  border-radius: 12px;
  outline: none;
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  transition-duration: 0.4s;
  font-weight: 200;

}

.form-button:hover {
  background-color: #0095ff;
  color: white;
}

/* all inputs on the login/create form */
.login-input {
  text-align: center;
  background-color: transparent;
  border: 1px solid #0095ff;
  border-radius: 12px;
  width: 100px;
  margin-bottom: 1%;
  height: 20px;
  outline: none;
}

.create-input {
  width: 100px;
  height: 20px;
  margin-bottom: 1%;
  background-color: transparent;
  border: 1px solid #0095ff;
  border-radius: 12px;
  outline: none;
}

#login-form {
  margin-left: 40%;
  margin-bottom: 2%;
}

#create-login-form {
  margin-left: 40%;
  margin-bottom: 2%;
}


#logo {
  position: absolute;
  margin-top: 2%;
  width: 16%;
  margin-right: 0%;
}
/* search bar input, search through all stocks */
#search-input {
  outline: none;
  position: relative;
  margin-top: 3%;
  background: transparent;
  height: 35px;
  width: 220px;
  color: grey;
  margin-left: 0.5%;
  font-size: 22px;
  border:none;
}

/* class for all sorting select(!!!change so filter and sort are different) */
#sort-input {
  position: relative;
  outline: transparent;
  background-color: transparent;
  margin-right: 15px;
  width: 165px;
  height: auto;
  font-size: 15px;
  color: white;
  font-family: 'Poppins', sans-serif;
  border: none;
}

#select-input {
  position: relative;
  margin-right: 15px;
  outline: transparent;
  background-color: transparent;
  width: 220px;
  height: auto;
  font-size: 15px;
  color: white;
  font-family: 'Poppins', sans-serif;
  border: none;
}

#stock-list {
  position: relative;
  width: 35%;
  margin-left: 2%;
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
}
