/* click listener on the ProfileList, individual stock div */
.profile-card {
  border:1px solid #0095ff;
  background-color: white;
  width: 38%;
  margin-top: 1%;
  margin-right: 50%;
  padding: 2%;
  margin-left: 2%;
  z-index: 0;
}

.company-name {
  position: relative;
  margin-top: -1%;
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.profile-icon {
  position: relative;
  display: inline;
  width: 100px;
  height: auto;
}

.symbol {
  margin-top: 1%;
  font-size: 12px;
  font-family: 'Nunito Sans', sans-serif;
}

.profile-description {
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

.close-button {
  position: relative;
  left: 70%;
  border:1px solid #0095ff;
  border-radius: 12px;
  outline: none;
  color: #0095ff;
  padding: 3px 10px;
  text-align: center;
  margin: 2px;
  text-decoration: none;
  font-size: 12px;
  transition-duration: 0.4s;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
}

.close-button:hover {
  background-color: #0095ff;
  color: white;
}

.header-container {
  display: grid;
  width: 60%;
  height: auto;
  margin-bottom: 15px;
  grid-template-columns: auto auto;
  padding: 15px;
  border: 1px solid #0095ff;
}

.profile-header {
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
}

#chart-container {
  position: relative;
  margin-left: 50%;
}

.chart-button {
  border:1px solid #0095ff;
  border-radius: 12px;
  outline: none;
  color: #0095ff;
  padding: 3px 10px;
  text-align: center;
  margin: 2px;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  transition-duration: 0.4s;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.chart-button:hover {
  background-color: #0095ff;
  color: white;
}

.stock-chart {
  position: relative;
}
