#user-container {
  position: absolute;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 2%;
  height: 65%;
  max-width: 50%;
  margin-top: 1%;
  margin-left: 46%;
  margin-right: 2%;
  /* border: 1px solid blue; */
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 12px;
}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    border: 1px solid #0095ff;
    background-color: transparent;
    box-shadow: 0 0 1px rgba(255,255,255,.5);
    transition-duration: 0.4s;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #0095ff;
}

/* NYTIMES logo  */
#nytimes {
  width: 35%;
  margin-bottom: 20px;
}

/* newsfeed component for alternate div content  */
.article {
  width: 95%;
  margin-bottom: 80px;
}

.article-header {
  font-family: poppins;
  width: 70%;
  font-weight: 300;
  font-size: 18px;
}

/* styling for links (attached to header) */
a {
  text-decoration: none;
  width: 70%;
  color: black;
}

a:hover {
  color: #0095ff;
}

.article-image {
  position: relative;
  border: 1px solid black;
  padding: 1%;
  width: 110px;
  margin-top: -2%;
  margin-left: 2%;
  margin-right: -2%;
  float: right;
}

.article {
  width: 90%;
}

/* Balance Values */

h4 {
  font-size: 14px;
  font-family: poppins;
  font-weight: 400;
  margin: 0;
}

.balance {
  margin-bottom: 2%;
}

/* styling for portfolio table */

.user-portfolio {
  table-layout: fixed;
  width: 500px;
}

td, th {
border: solid 1px #0095ff;
padding-left: 5px;
padding-right: 5px;
width: 85px;
height: 20px;
}

h2 {
  font-size: 12px;
  font-family: poppins;
  text-align: left;
  height: 20px;
}

.table-data {
  width: 900px;
}

.portfolio-button {
  position: relative;
  border:1px solid #0095ff;
  border-radius: 14px;
  width: 90px;
  outline: none;
  color: #0095ff;
  padding: 4px 8px;
  text-align: center;
  margin: 3px;
  margin-left: 1px;
  margin-bottom: 15px;
  text-decoration: none;
  font-size: 12px;
  transition-duration: 0.4s;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
}

.portfolio-button:hover {
  background-color: #0095ff;
  color: white;
}

.pie-chart {
  position:relative;
  margin-left: 40%;
}
